/*********
**********************/
/*文字*/
.heading-dark-01 {
  font-size: var(--fontSize20);
  color: var(--colorFontBlack);
}

.heading-dark-24 {
  font-size: var(--fontSize24);
  color: var(--colorFontBlack);
}

.heading-dark-28 {
  font-size: var(--fontSize28);
  color: var(--colorFontBlack);
}

.heading-orange-01 {
  font-size: var(--fontSize20);
  color: var(--colorFontOrange);
}

.heading-dark-02,
.heading-dark-16 {
  font-size: var(--fontSize16);
  color: var(--colorFontBlack);
}
.heading-dark-20 {
  font-size: var(--fontSize20);
  color: var(--colorFontBlack);
}

.heading-dark-03,
.heading-dark-14 {
  font-size: var(--fontSize14);
  color: var(--colorFontBlack);
  vertical-align: middle;
}

.heading-grey-02 {
  font-size: var(--fontSize12);
  color: var(--colorFontGrey);
}

.heading-grey-03 {
  font-size: var(--fontSize14);
  color: var(--colorFontGrey);
}

.heading-light-03 {
  font-size: var(--fontSize14);
  color: var(--colorFontGrey-1);
}

.heading-white-03 {
  font-size: var(--fontSize14);
  color: var(--colorPrimaryWhite);
}

.heading-dark-04,
.heading-dark-13 {
  font-size: var(--fontSize13);
  color: var(--colorFontBlack);
}

.heading-grey-05 {
  font-size: var(--fontSize13);
  color: var(--colorFontGrey);
}

.heading-grey-13 {
  font-size: var(--fontSize13);
  color: var(--colorFontGrey);
}

.heading-grey-14 {
  font-size: var(--fontSize14);
  color: var(--colorFontGrey);
}

.heading-grey-20 {
  font-size: var(--fontSize20);
  color: var(--colorFontGrey);
}

.heading-grey-06 {
  font-size: var(--fontSize14);
  color: var(--colorFontGrey-2);
}

.heading-grey-07 {
  font-size: var(--fontSize18);
  color: var(--colorFontGrey-2);
}

.heading-grey-08 {
  font-size: var(--fontSize12);
  color: var(--colorFontGrey-2);
}

.heading-light-05 {
  font-size: var(--fontSize13);
  color: var(--colorFontGrey-1);
}

.heading-blue-05 {
  font-size: var(--fontSize13);
  color: var(--colorFontBlue);
}

.f-16 {
  font-size: var(--fontSize16);
}
/*****************************/

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right {
  cursor: pointer;
}

.card-box {
  background: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(33, 38, 54, 0.1);
  border-radius: 4px;
  border: 1px solid #e3e3ec;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.card-content {
  margin-top: 20px;
  flex: 1;
  overflow: hidden;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.icon-sm {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}
.icon-edit {
  background-image: url('../../../assets/icon/icon-edit.png');
}

.icon-more {
  background-image: url('../../../assets/icon/icon-go.png');
}

.icon-more-blue {
  background-image: url('../../../assets/icon/icon-go-blue.png');
}

.iconicon-bianjikapian:hover,
.iconicon-shanchu:hover,
.iconicon-yidong:hover,
.el-icon-refresh:hover,
.iconicon-refresh:hover {
  color: var(--colorPrimary);
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.overview-empty {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.table-action-img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.h-100 {
  height: 100%;
}

.mh-600 {
  min-height: 600px;
}

/*flexbox*/
.flex-end {
  justify-content: flex-end;
}

.d-flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.d-inline-block {
  display: inline-block;
}

.money {
  font-weight: 500;
  font-size: var(--fontSize18);
  color: var(--colorFontGrey-2);
}

.ml-20 {
  margin-left: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-23 {
  margin-top: 23px;
}

.mr-3 {
  margin-right: 1rem !important;
}

.mr-20 {
  margin-right: 20px;
}

.ml-10 {
  margin-left: 10px;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.my-10 {
  margin: 10px 0;
}

.mx-20 {
  margin: 0 20px;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}
.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}
.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}
.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}
.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.p-0 {
  padding: 0 !important;
}
.p-16 {
  padding: 16px;
}
.p-24 {
  padding: 24px;
}
.pt-10 {
  padding-top: 10px;
}
.pl-10 {
  padding-left: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-24 {
  padding-bottom: 24px;
}
.pr-10 {
  padding-right: 10px;
}
.pr-20 {
  padding-right: 20px;
}
.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.m-auto {
  margin: auto;
}
.ml-auto,
.mx-auto {
  margin-left: auto !important;
}
.ml-3 {
  margin-left: 3px;
}
.mr-auto,
.mx-auto {
  margin-right: auto !important;
}
.m-0 {
  margin: 0;
}
.ml-30 {
  margin-left: 30px;
}
.ml-24 {
  margin-left: 24px;
}
.mb-24 {
  margin-bottom: 24px;
}
.w-25 {
  width: 25% !important;
}

.w-40 {
  width: 40% !important;
}
.w-200 {
  width: 200px!important;
}

.w-100 {
  width: 100%;
}

.w-100px {
  width: 100px!important;
}

.f-w-500 {
  font-weight: 500;
}

.cursor-pointer {
  cursor: pointer;
}

.link {
  color: var(--colorPrimary);
  cursor: pointer;
}

.text-success {
  color: #67C23A;
}

.text-warning {
  color: #E6A23C;
}

.text-danger {
  color: #F56C6C;
}

.text-info {
  color: #909399;
}

.text-primary {
  color: #409EFF;
}

.neutral-color {
  color: var(--ad-neutral-color-primary)
}

.danger {
  color: #F56C6C;
  cursor: pointer;
}

.space-between {
  justify-content: space-between;
}

.nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.text-truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*常规页面样式*/

/*页面标题*/
.module-title {
  color: var(--colorFontGrey-2);
  font-size: var(--fontSize16);
  line-height: 24px;
  margin-bottom: 22px;
}
/*页面标题下提示框*/
.card {
  border-radius: 4px;
  border: 1px solid #e3e3ec;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
}
.module-title-tip {
  border-radius: 4px;
  border: 1px solid #e3e3ec;
  padding: 20px;
  color: var(--colorFontGrey);
  font-size: var(--fontSize13);
  line-height: 18px;
  margin-bottom: 20px;
}
.module-title-tip label {
  margin-bottom: 0.5rem;
}
/*页面模块标题*/
.module-item-title {
  background: var(--colorPrimaryIvory);
  border-radius: 2px;
  padding: 13px 20px;
  color: var(--colorFontGrey-2);
  font-size: var(--fontSize14);
  margin-bottom: 20px;
}

.module-header {
  margin: 0;
  color: var(--colorFontBlack);
  font-size: 14px;
  font-weight: 400;
}
.module-hint {
  background: #FFFBF4;
  border-radius: 4px;
  border: 1px solid #F0C996;
  padding: 13px 20px;
}

.card-hr {
  border-bottom: 1px solid var(--colorBorderGrey-1);
  padding-bottom: 19px;
  padding-top: 10px;
}

.money-blue {
  font-size: 16px;
  color: var(--colorPrimary);
  line-height: 19px;
}

/*对话框*/
.dialog-item-title {
  margin-bottom: 10px;
  color: var(--colorFontBlack);
  font-size: var(--fontSize13);
  line-height: 18px;
}

.secure-option-description {
  font-size: 12px;
  padding: 10px;
  border: 1px solid #4cd964;
  background: #fbfffb;
  margin-top: 10px;
  margin-bottom: 20px;
}

.appid-option-description {
  font-size: 12px;
  padding: 10px;
  border: 1px solid #fb8a83;
  background: #fff6f6;
  margin-top: 10px;
  margin-bottom: 20px;
}

.divider {
  height: 1px;
  border-bottom: 1px solid #e3e3ec;
}

.pager-button-line .divider {
  margin-bottom: 20px;
}

.detail-row {
  display: flex;
}

.export-btn {
  background: var(--colorPrimaryWhite);
  border-radius: 4px;
  border: 1px solid #e3e3ec;
  padding: 9px 27px;
  color: var(--colorPrimary);
  line-height: 14px;
  font-size: 13px;
}

.export-btn:hover {
  color: #006ad8ff;
  outline: none;
  border-color: #006ad8ff;
  text-decoration: none;
}

.empty-text {
  font-size: 18px;
  font-family: HelveticaNeue, Arial;
  color: #ccc;
}

/* 自定义弹出框 */
.message-box-danger .el-message-box__status + .el-message-box__message {
  padding-left: 56px;
}
.console-icon-danger {
  display: inline-block;
  width: 46px;
  height: 43px;
  background: url(../../../assets/icon/icon-caution-s.png) no-repeat;
}

.message-box-warning .el-message-box__title {
  position: relative;
  padding-left: 27px;
}
.message-box-warning .el-message-box__title::before {
  content: '';
  background: url(../../../assets/icon/icon-caution.png) no-repeat;
  height: 20px;
  width: 22px;
  position: absolute;
  left: 0;
  top: -3px;
  margin-right: 7px;
}

/*vue-tel-input*/
.vue-tel-input {
  line-height: 26px !important;
  border: 1px solid #ccc !important;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2) !important;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2) !important;
  border-radius: 2px !important;
}
.vue-tel-input-width {
  width: 65%;
  float: left;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.f-500 {
  font-weight: 500 !important;
}

.f-13 {
  font-size: 13px !important;
}

.f-14 {
  font-size: 14px !important;
}

.float-right {
  float: right;
}

.icon-edit {
  cursor: pointer;
}

.vertical-middle {
  vertical-align: middle !important;
}

.vertical-bottom {
  vertical-align: bottom !important;
}

.text-link {
  color: var(--colorPrimary);
}

.f-20 {
  font-size: 20px !important;
}

.line-height-20 {
  line-height: 20px;
}

.line-height-24 {
  line-height: 24px;
}

.line-height-18 {
  line-height: 18px;
}

.line-height-30 {
  line-height: 30px;
}

.mb-5 {
  margin-bottom: 5px;
}

.tab-button {
  display: inline-block;
  color: #586376;
  font-size: 16px;
  line-height: 18px;
  padding: 7px 6px;
  margin-right: 20px;
  cursor: pointer;
}
.tab-button.active-btn {
  color: var(--colorFontBlack);
  border-bottom: 2px solid #099dfd;
}

.vertical-bottom {
  vertical-align: bottom !important;
}

.border-8 {
  border-radius: 8px;
}

.border-50 {
  border-radius: 50% !important;
}

.d-none {
  display: none;
}

.f-18 {
  font-size: 18px!important;
}

.f-24 {
  font-size: 24px;
}

.align-base {
  align-items: baseline;
}

.form-line {
  display: flex;
  margin-bottom: 20px;
}

.form-line .label {
  font-size: 14px;
  color: #191919;
  text-align: right;
  margin-right: 10px;
}

.w-150 {
  width: 150px;
}

.nowrap {
  white-space: nowrap;
}

.white-nowrap {
  white-space: nowrap;
}

.mr-5 {
  margin-right: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.menu-feedback {
  position: absolute;
  bottom: 26px;
  padding-right: 20px;
}

.has-header .menu-feedback {
  bottom: 76px;
}

.v-modal {
  background-color: hsla(0,0%,100%,.7) !important;
  opacity: 1 !important;
}

.clear-both {
  clear: both;
}

.bg-white {
  background-color: var(--color-white);
}

.overflow-hidden {
  overflow: hidden;
}
.vertical-divider {
  width: 100%;
  height: 1px;
  background: #dcdfe6;
  margin: 10px 0;
  display: block;
  position: relative;
}
